html,
body {
  height: 100%;
  margin: 0;
}

label {
  display: block;
}

input[type='text'] {
  width: 150px;
}

main {
  padding: 4px;
  margin: 0;
  height: 100%;
}

footer {
  background-color: #222;
  color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #2a2c36;
  color: #eee;
  overflow: hidden;
  transition: left ease .25s;
}

#sidebar.hide-sidebar {
  left: -250px;
  transition: left ease .25s;
}

#wrapper.hide-sidebar {
    margin-left: 0;
    transition: margin-left ease .25s;
}

#wrapper {
  margin: 0 0 0 250px;
  transition: margin-left ease .25s;
}

.headshot {
  max-width: 50px;
  border: 1px solid #222;
  padding: 2px;
}

.menu{
  font-size: 0.9em;
  list-style: none;
  text-decoration: none;
}

.menu li.active {
  font-weight: bold;
}
